<% provide(:title, 'Result') %>
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <div class = "col-md-6">
      <h4>Basic500 Result</h4>
    </div>
    <div class = "col-md-6">
      <h4> <%= @score %>/20</h4>
    </div>
  </div>
<% @results.each do |result| %>
  <div class = "col-md-8 col-md-offset-2">
    </br>
    <div class = "col-md-6">
      <div class = "col-md-6">
        <% if result[3] %>
          <span class="glyphicon glyphicon-ok"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
      <div class = "col-md-6">
        <%= result[0] %>
      </div>
    </div>
    <div class = "col-md-6">
      <div class = "col-md-6">
       <%=  result[1] %>
      </div>
      <div class = "col-md-6">
        <%= link_to '<span class="glyphicon glyphicon-bullhorn"></span> Speak'.html_safe, speak_path(word: result[0]), class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>
<% end %>
</div>
