<div class="col-md-6 text-center">
  <%jp = @word.word %>
  <p class="word">
    <%= @word.word %>
  </p>
  <%= link_to '<span class="glyphicon glyphicon-bullhorn"></span> Speak'.html_safe, speak_path(word: jp), class: 'btn btn-primary btn-sm' %>
</div>
<div class="col-md-6">
  <% @word.answers.each do |ans| %>
    <%= link_to ans.answer, user_category_lessons_path(current: @current + 1 , id: ans.id), class: "btn btn-block btn-primary answer", id: ans.id, remote: true %>
  <% end %>
</div>
